@model IEnumerable<Booking>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["ResultOk"] != null)
{
        <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<div class="container shadow p-5">

    <div class="col mb-3">
        <a asp-controller="Booking" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Add Booking</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Capacity</th>
                <th scope="col">RoomId</th>
                <th scope="col">StartDate</th>
                <th scope="col">EndDate</th>
                <th scope="col">IsConfirmed</th>
                <th scope="col">IsDeleted</th>
                <th scope="col">ConfirmedFromId</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                    <tr>
                        <td width="20%">
                        @item.Code
                        </td>
                        <td width="20%">
                        @item.Capacity
                        </td>
                    <td width="20%">
                        @item.RoomId
                    </td>
                    <td width="20%">
                        @item.StartDate
                    </td>
                    <td width="20%">
                        @item.EndDate
                    </td>
                     <td width="20%">
                        @item.IsConfirmed
                    </td>
                    <td width="20%">
                        @item.IsDeleted
                    </td>
                    <td width="20%">
                        @item.ConfirmedFromId
                    </td>
                 
                        <td>
                            <div role="group" class="w-60 btn-group">
                                <a asp-controller="Booking" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                            <a asp-controller="Booking" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>

@*<style>
    tbody {
        background-image: url("https://wallpaperaccess.com/full/4012592.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>*@